@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

$color1: #40bfff;
$color2: #ff4858;
$color3: #bcddfe;
$color4: #373737;

$color5: #ebf0ff;
$color6: #fb7181;
$color7: #9098b1;
$color8: #ffffff;
$color9: #223263;
$color10: #d1f0ff;
$color11: #fff;
$color12: #c1c8ce;
$color13: #262626;
$color14: #33a0ff;
$color15: #22262a;
$color16: #f6f7f8;
$color17: #c9c9c9;
$color18: #ebf5fe;
$color19: #385c8e;
$color20: #03a9f4;
$color21: #fafafb;
$color22: #2e90e5;
$color23: #e5e8ea;

$type-center: center;
%font-main {
  font-family: Poppins;
}

%display-flex {
  display: flex;
}

%border-radius {
  border-radius: 5px;
}

$font_size-title: 34px;
$font_size-item: 24px;
$font_size-header: 14px;
$font_size-main: 12px;

$padding-main: 16px;

$font_family-main: "Poppins", sans-serif;
$percent-100: 100%;
