.upload {
  border: 1px dashed blue;
  border-radius: 0.475rem;
  padding-bottom: 1rem;
  padding-top: 2.25rem;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 200px;
  overflow-y: hidden;
  overflow-x: auto;

  &__multi {
    cursor: pointer;
    color: blue;
    border: 1px dashed blue;
    min-width: 200px;
    border-radius: 0.475rem;
    align-items: center;
    justify-content: center;
  }

  .bg-primary-subtle {
    background-color: orange;
  }

  &__close {
    top: 10px;
    right: 10px;
  }

  &__progress {
    transform: translate(50%, -50%);
  }

  &__opacity {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 2;
      border-radius: 6px;
    }
  }

  &__file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.w-fit-content {
  width: fit-content;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.d-flex {
  display: flex;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: white;
}

.circle-progress {
  stroke: #3e97ff;
  stroke-linecap: round;
}
